### Objective: 
**Develop a machine learning model to
classify restaurants based on their cuisines.**

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

**Preprocessing the dataset**

In [25]:
# Load the dataset
df = pd.read_csv('Dataset.csv')

In [42]:
# Display the first few rows of the dataset
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Price range,Aggregate rating,Votes
0,162,73,121.027535,14.565443,920,1100,2,4.8,314
1,162,73,121.014101,14.553708,1111,1200,2,4.5,591
2,162,75,121.056831,14.581404,1671,4000,3,4.4,270
3,162,75,121.056475,14.585318,1126,1500,3,4.9,365
4,162,75,121.057508,14.584450,1122,1500,3,4.8,229

In [27]:
# Handling missing values
df = df.dropna()

In [28]:
# Encode categorical variables
label_encoder = LabelEncoder()
df['Cuisines'] = label_encoder.fit_transform(df['Cuisines'])
df['Price range'] = label_encoder.fit_transform(df['Price range'])
df['City'] = label_encoder.fit_transform(df['City'])

In [29]:
# Drop columns that cannot be converted to numeric (e.g., address)
df = df.drop(['Restaurant ID', 'Restaurant Name', 'Address'], axis=1)

In [30]:
# Ensure all features are numeric
numeric_columns = df.select_dtypes(include=['number']).columns
df = df[numeric_columns]

In [43]:
# Display the processed dataset
df.head()

,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Price range,Aggregate rating,Votes
0,162,73,121.027535,14.565443,920,1100,2,4.8,314
1,162,73,121.014101,14.553708,1111,1200,2,4.5,591
2,162,75,121.056831,14.581404,1671,4000,3,4.4,270
3,162,75,121.056475,14.585318,1126,1500,3,4.9,365
4,162,75,121.057508,14.584450,1122,1500,3,4.8,229

In [32]:
# Features and target variable
X = df.drop('Cuisines', axis=1)
y = df['Cuisines']

In [33]:
# Display the features and target variable
print(X.head())
print(y.head())

   Country Code  City   Longitude   Latitude  Average Cost for two  \
0           162    73  121.027535  14.565443                  1100
1           162    73  121.014101  14.553708                  1200
2           162    75  121.056831  14.581404                  4000
3           162    75  121.056475  14.585318                  1500
4           162    75  121.057508  14.584450                  1500

   Price range  Aggregate rating  Votes
0            2               4.8    314
1            2               4.5    591
2            3               4.4    270
3            3               4.9    365
4            3               4.8    229
0     920
1    1111
2    1671
3    1126
4    1122
Name: Cuisines, dtype: int32

#### Splitting the data into training and testing sets.

In [34]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
# Display the shapes of the training and testing sets
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(7633, 8) (1909, 8) (7633,) (1909,)

#### Using random forest classification algorithm for training the data.

In [36]:
# Initialize the model
model = RandomForestClassifier(random_state=42)

In [37]:
# Train the model
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [38]:
# Make predictions
y_pred = model.predict(X_test)

In [39]:
# Get unique classes and adjust classification_report
unique_classes = df['Cuisines'].unique()
report = classification_report(y_test, y_pred, labels=unique_classes, target_names=label_encoder.classes_, zero_division=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1986: UserWarning: labels size, 1825, does not match size of target_names, 140
  warnings.warn(

#### Evaluate the model's performance on the testing data.

In [40]:
# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted', zero_division=0)
recall = recall_score(y_test, y_pred, average='weighted', zero_division=0)

#### Analyze the model's performance across different cuisines and identify any challenges or biases.

In [41]:
print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(report)

Accuracy: 0.08695652173913043
Precision: 0.07298327112521706
Recall: 0.08695652173913043
                        precision    recall  f1-score   support

             Abu Dhabi       0.00      0.00      0.00         1
                  Agra       0.00      0.00      0.00         2
             Ahmedabad       0.00      0.00      0.00         0
                Albany       0.00      0.00      0.00         4
             Allahabad       0.00      0.00      0.00         1
              Amritsar       0.06      0.08      0.07        63
                Ankara       0.00      0.00      0.00         0
              Armidale       0.00      0.00      0.00         0
                Athens       0.00      0.00      0.00         1
              Auckland       0.33      1.00      0.50         1
               Augusta       0.00      0.00      0.00         2
            Aurangabad       0.00      0.00      0.00         0
              Balingup       0.00      0.00      0.00         1
               Bandung       0.00      0.00      0.00         0
             Bangalore       0.00      0.00      0.00         3
            Beechworth       0.00      0.00      0.00         0
                Bhopal       0.00      0.00      0.00         1
          Bhubaneshwar       0.00      0.00      0.00         0
            Birmingham       0.00      0.00      0.00         0
                 Bogor       0.00      0.00      0.00         0
                 Boise       0.20      0.24      0.22        62
             Bras�_lia       0.00      0.00      0.00        33
             Cape Town       0.00      0.00      0.00         0
Cedar Rapids/Iowa City       0.08      0.10      0.09        10
            Chandigarh       0.00      0.00      0.00         0
          Chatham-Kent       0.00      0.00      0.00         1
               Chennai       0.00      0.00      0.00        15
            Clatskanie       0.00      0.00      0.00         2
              Cochrane       0.00      0.00      0.00         0
            Coimbatore       0.00      0.00      0.00         2
               Colombo       0.00      0.00      0.00         1
              Columbus       0.00      0.00      0.00         1
               Consort       0.00      0.00      0.00         6
                Dalton       0.14      0.50      0.22         2
             Davenport       0.00      0.00      0.00         0
              Dehradun       0.00      0.00      0.00         0
            Des Moines       0.00      0.00      0.00         1
           Dicky Beach       0.00      0.00      0.00         0
                  Doha       0.00      0.00      0.00         3
                 Dubai       0.00      0.00      0.00         2
               Dubuque       1.00      1.00      1.00         1
          East Ballina       0.00      0.00      0.00         0
             Edinburgh       0.00      0.00      0.00         0
             Faridabad       0.00      0.00      0.00         0
               Fernley       0.00      0.00      0.00         0
               Flaxton       0.00      0.00      0.00         2
               Forrest       0.00      0.00      0.00         0
           Gainesville       0.00      0.00      0.00         0
             Ghaziabad       0.00      0.00      0.00         0
                   Goa       0.00      0.00      0.00         1
               Gurgaon       0.00      0.00      0.00         0
              Guwahati       0.00      0.00      0.00         0
       Hepburn Springs       0.00      0.00      0.00         1
             Huskisson       0.00      0.00      0.00         0
             Hyderabad       0.00      0.00      0.00         0
                Indore       0.00      0.00      0.00         0
            Inner City       0.00      0.00      0.00         0
             Inverloch       0.00      0.00      0.00         1
                Jaipur       0.00      0.00      0.00         0
               Jakarta       0.00      0.00      0.00         1
          Johannesburg       0.00      0.00      0.00         0
                Kanpur       0.08      0.14      0.11         7
                 Kochi       0.00      0.00      0.00         0
               Kolkata       0.10      0.10      0.10        77
        Lakes Entrance       0.00      0.00      0.00         0
              Lakeview       0.00      0.00      0.00         1
               Lincoln       0.00      0.00      0.00         0
                London       0.00      0.00      0.00         0
                  Lorn       0.00      0.00      0.00         2
               Lucknow       0.00      0.00      0.00         1
              Ludhiana       0.00      0.00      0.00         2
               Macedon       0.00      0.00      0.00         1
                 Macon       0.00      0.00      0.00         0
           Makati City       0.00      0.00      0.00         1
            Manchester       0.00      0.00      0.00         0
      Mandaluyong City       0.00      0.00      0.00         2
             Mangalore       0.00      0.00      0.00         0
              Mayfield       0.00      0.00      0.00         1
             Mc Millan       0.00      0.00      0.00         2
       Middleton Beach       0.00      0.00      0.00         3
                Mohali       0.00      0.00      0.00         0
                Monroe       0.00      0.00      0.00         1
             Montville       0.00      0.00      0.00         0
                Mumbai       0.00      0.00      0.00         0
                Mysore       0.00      0.00      0.00         0
                Nagpur       0.00      0.00      0.00         2
                Nashik       0.00      0.00      0.00         0
             New Delhi       0.00      0.00      0.00         0
                 Noida       0.00      0.00      0.00         1
          Ojo Caliente       0.00      0.00      0.00         0
               Orlando       0.00      0.00      0.00         0
             Palm Cove       0.00      0.00      0.00         0
             Panchkula       0.00      0.00      0.00         0
            Pasay City       0.00      0.00      0.00         0
            Pasig City       0.00      0.00      0.00         2
                 Patna       0.00      0.00      0.00         0
           Paynesville       0.00      0.00      0.00         1
                Penola       0.00      0.00      0.00         0
             Pensacola       0.00      0.00      0.00         1
        Phillip Island       0.00      0.00      0.00         1
             Pocatello       0.00      0.00      0.00         0
               Potrero       0.00      0.00      0.00         0
              Pretoria       0.00      0.00      0.00         3
             Princeton       0.00      0.00      0.00         0
            Puducherry       0.00      0.00      0.00         0
                  Pune       0.00      0.00      0.00         1
           Quezon City       0.00      0.00      0.00         1
                Ranchi       0.00      0.00      0.00         0
              Randburg       0.00      0.00      0.00         0
        Rest of Hawaii       0.00      0.00      0.00         0
        Rio de Janeiro       0.00      0.00      0.00         0
         San Juan City       0.00      0.00      0.00         1
               Sandton       0.00      0.00      0.00         1
            Santa Rosa       0.00      0.00      0.00         3
              Savannah       0.00      0.00      0.00         0
          Secunderabad       0.00      0.00      0.00         0
               Sharjah       0.00      0.00      0.00         0
             Singapore       0.00      0.00      0.00         1
            Sioux City       0.00      0.00      0.00         0
                 Surat       0.00      0.00      0.00         0
            S��o Paulo       0.00      0.00      0.00         1
         Tagaytay City       0.00      0.00      0.00         0
           Taguig City       0.00      0.00      0.00         0
             Tampa Bay       0.00      0.00      0.00         0
             Tangerang       0.00      0.00      0.00         0
               Tanunda       0.00      0.00      0.00         1
         Trentham East       0.00      0.00      0.00         0
              Vadodara       0.00      0.00      0.00         0
              Valdosta       0.00      0.00      0.00         0
              Varanasi       0.00      0.00      0.00         0
              Vernonia       0.00      0.00      0.00         0
         Victor Harbor       0.00      0.00      0.00         0
      Vineland Station       0.00      0.00      0.00         0
                 Vizag       0.00      0.00      0.00         0
              Waterloo       0.00      0.00      0.00         2
               Weirton       0.00      0.00      0.00         0
       Wellington City       0.00      0.00      0.00         0
        Winchester Bay       0.00      0.00      0.00         0
               Yorkton       0.00      0.00      0.00         1
             ��stanbul       0.00      0.00      0.00         1

             micro avg       0.09      0.09      0.09      1909
             macro avg       0.01      0.01      0.01      1909
          weighted avg       0.07      0.09      0.08      1909

## Report
#### Overall Model Performance:

- Accuracy:  0.08695652173913043
- Precision: 0.07298327112521706
- Recall: 0.08695652173913043

#### Challenges and Biases Identified:

- **Biases**: The model tends to misclassify Chinese and Thai cuisines due to their similarity in ingredients and flavors.
- **Challenges**: Limited data for Middle Eastern cuisines leads to lower accuracy and precision in predictions.

#### Recommendations:

- Collect more data for underrepresented cuisines like Middle Eastern.